body, .container-fluid {
	margin: 0;
	padding: 0;
}

.full_page_section {
	min-height: 100vh;
	position: relative;
}

/*NAV*/

.nav_two {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.nav_two ul {
	width: 100%;
	/*display: flex;
	justify-content: space-between;*/
}

/*.nav_two li:first-child, .nav_two li:nth-child(2) {
	flex-grow: 1;
}*/

/*LANDING PAGE*/

#landing_page {
	background: lightgrey;
}

.landing_page_content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/*HOW IT WORKS*/

#how_it_works {
	background: lightpink;
	padding: 75px 150px;
}

#how_it_works li {
	margin: 50px;
	padding: 50px;
	border: 1px solid black;
	border-radius: 50px;
	list-style-position: inside;
}

/*ABOUT US*/

#about_us {
	background: lightblue;
}

.description, .founders {
	padding: 20vh 0;
}

.description {
	margin: 50px 0;
}

.description p {
	width: 80%;
}

.founders {
	/*padding: 30px 40px 40px 0;*/
}

.founders h3 {
	padding-bottom: 25px;
}

.founders img {
	border-radius: 50%;
	width: 120px;
	margin: 15px;
}

.founders .col-xs-9 {
	width: 75%;
}

.founders .regine {
	padding-bottom: 25px;
}

/*FAQ*/

#faq {
	background: lightgreen;
}

#faq .row {
	padding: 10vh;
}

#faq .question {
	padding: 25px;
}

/*FOOTER*/

.contact_us, .copyright, .links {
	padding: 10vh 0;
}

.contact_us input, .contact_us textarea {
	width: 70%;
	margin: 10px 0;
}

.copyright span {
	display: block;
	padding: 3px 0;
}

.links i {
	padding: 10px;
}

/*FIRST QUESTIONS*/

.first_questions {
	background: lightgrey;
	min-height: 100vh;
}

.first_questions form {
	padding: 10vh 150px;
}

.first_questions p, .proximity_options {
	padding: 30px 0;
}

.first_questions select {
	width: 30%;
	margin: 0 auto;
}

.button_holder {
	text-align: center;
}

/*PREFERENCES*/

.second_question {
	padding: 10vh 0;
}

.preferences_category {
	/*position: fixed;*/
	width: 15%;
	/*top: 30%;*/
}

.preferences_category li {
	list-style: none;
	border-bottom: 1px solid grey;
	padding: 10px 0;
}

.preferences_item {
	background: url("/img/manila.jpg");
	height: 250px;
	width: 250px;
	padding: 20px;
	border-radius: 50px;
	position: relative;
}

.preferences_item #checkbox_text {
	position: absolute;
	top: 45%;
	left: 20%;
	overflow: hidden;
}
